*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}

.contenedor-secundario{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    grid-template-rows: 150px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
    
}

.contenedor-titulo{
    grid-column: 2;
    grid-row: 1;
    font-size: 50px;
    text-align: center;
}

.titulo{
    font-family: caveat;
    color: brown;
}

.iconos-compras{
    grid-column: 3;
    text-align: right;
    padding: 0 50px;
}
.buscar{
    width: 250px;
    height: 30px;
    position: absolute;
    right: 265px;
    top: 58px;
    border-radius: 10px 0 0 10px;
    font-size: 18px;
    padding: 0 10px ;
}
.icon-buscar{
    position: absolute;
    top: 50px;
    right: 220px;
}

.contenedor-nav-img{
    width: 100%;
    height: 600px;
    background-image: url("/imagenes/portada.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;

}

.contenedor-nav{
    background-color: rgb(204, 166, 124);
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:center ;
    
    
}

.lista-nav ul li{
    
    font-size: 30px;
    padding: 50px;
    
    
}
a{
    text-decoration: none;
    color: white;
}

.lista-col{
    column-count: 6;
    column-gap: 10px;
    text-align: center;
    list-style-type: none;
    
}
.contenedor-texto-interior{
    width: 60%;
    height: 40%;
    margin: 150px auto;
    text-align: center;
    color: aliceblue;
}
.texto-imagen1{
    font-size: 70px;
    
}
.texto-imagen2{
    font-size: 24px;
    margin: 50px 0px; 
    
}

.tamaño-imagenes{
    width: 300px;
    height: 500px;
}
.text-recomendacion{
    font-size: 40px;
    margin: 30px 20px;
    color: rgb(165, 39, 39);
}
.section-recomendacion{

    display: grid;
    grid-template-columns: repeat(4,1fr);
   
    text-align: center;
    

}
.cont-libros{
    
    margin: 15px auto;
    padding: 20px;
}
.botones{
    width: 150px;
    height: 30px;
    color: white;
    background: rgb(165, 39, 39);
    border-radius: 10px;
}
.contenedor-lib{
    text-align: right;
    margin-top: 50px;
    
}

.vermas-libros{

    font-size: 30px;
    text-decoration: none;
    margin-right: 50px;
    color: rgb(165, 39, 39);
    
    
}
.seccion-libros{
    
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 50px;
    
    text-align: center;
    

}
.precios{

    font-size: 24px;
    color: goldenrod;
}
.btn-lib{
    width: 120px;
    height: 30px;
    margin-top: 20px;
    font-size: 20px;
    background: rgb(165, 39, 39);
    color: white;
    border-radius: 5px;
}
.text-cono{
        margin-top: 80px;
        margin-left: 50px;
}
.tit-conocenos{
    font-size: 38px;
    color: rgb(165, 39, 39);
    font-family:kanit;
    font-weight: bold;
    
}

.conocenos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.p-conocenos{
    font-size: 24px;
}
.text-te-esperamos{
    font-size: 28px;
    font-weight: bold;
    font-family: kanit;
    text-align: center;
    margin-top: 15px;
    color: rgb(165, 39, 39);    
}
.cono-img{
    margin-top: 90PX;
}
.contenedor-final{
    height: 500px;
    margin: 0 15px 0 15px ;
    margin-top: 70px;
    background-color: rgb(204, 166, 124);
}
.cont-info-final{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
    color: white;
    
}
.title-div{

    width: 100%;
    border-bottom: 2px solid white ;
    margin-top: 20px;
}
.iconos-redes{
    text-align: center;
}
.input-enviar{
    width: 70%;
    height: 30px;
}
.btn-enviar{
    width: 90px;
    height: 35px;
    border-radius: 5px;
    background-color: brown;
    font-size: 20px;
    color: white;
}
.txt-footer{

    font-size: 24px;
}
.footer{
    
    font-size: 24px;
    color: white;
    text-align: center;
}

